# Environnements virtuels
env/
venv/
anomaly_detection/env/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Modèles locaux lourds (si tu veux les copier manuellement dans l'image)
models/

# Données d’entraînement locales
data/

# Tests et scripts temporaires
tests/
*.log
*.tmp

# Git
.git/
.gitignore

# Fichiers IDE
*.vscode/
*.idea/
*.sublime-project
*.sublime-workspace

# Configuration locale
config.yaml
